/* line 3, static/scss/auth/login.scss */
body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  color: #1E2330; }

/* line 13, static/scss/auth/login.scss */
body {
  background: #fff; }

/* line 19, static/scss/auth/login.scss */
::-webkit-scrollbar {
  width: 10px; }

/* line 26, static/scss/auth/login.scss */
::-webkit-scrollbar-track {
  border-radius: 10px; }

/* line 32, static/scss/auth/login.scss */
::-webkit-scrollbar-thumb {
  background: #1E2330;
  border-radius: 50px; }

/* line 39, static/scss/auth/login.scss */
svg {
  fill: #1E2330; }

/* line 47, static/scss/auth/login.scss */
#Icon_feather-mail path {
  stroke: #1E2330; }

/* line 55, static/scss/auth/login.scss */
button:disabled {
  opacity: 0.8; }

/* line 62, static/scss/auth/login.scss */
.main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  /* line 73, static/scss/auth/login.scss */
  .main .wrapper {
    position: relative;
    width: 340px;
    background: #f6f6f6;
    border-radius: 20px; }
    /* line 83, static/scss/auth/login.scss */
    .main .wrapper .brand {
      position: relative;
      top: 20px;
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center; }
      /* line 97, static/scss/auth/login.scss */
      .main .wrapper .brand .wrapper {
        width: 79px;
        height: 79px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1px 0 0 1px;
        border-radius: 50px;
        box-shadow: 1px 1px 8px #a0a0a0, -1px -1px 8px #ffffff;
        cursor: pointer; }
        /* line 115, static/scss/auth/login.scss */
        .main .wrapper .brand .wrapper svg {
          transform: scale(2); }
    /* line 125, static/scss/auth/login.scss */
    .main .wrapper h1 {
      position: relative;
      top: 46px;
      width: 340px;
      text-align: center;
      font-weight: normal;
      font-size: 25px;
      margin: 0; }
    /* line 140, static/scss/auth/login.scss */
    .main .wrapper form {
      position: relative;
      top: 70px; }
      /* line 145, static/scss/auth/login.scss */
      .main .wrapper form .fields {
        width: 100%; }
        /* line 149, static/scss/auth/login.scss */
        .main .wrapper form .fields div {
          position: relative;
          left: 4%;
          width: 80%; }
          /* line 156, static/scss/auth/login.scss */
          .main .wrapper form .fields div svg:first-child {
            position: absolute;
            left: 15px;
            top: 15.5px; }
          /* line 164, static/scss/auth/login.scss */
          .main .wrapper form .fields div svg:nth-child(2) {
            position: absolute;
            right: -25px;
            top: 19px;
            opacity: 0; }
          /* line 174, static/scss/auth/login.scss */
          .main .wrapper form .fields div #email {
            top: 9px;
            left: 10px;
            transform: scale(0.75); }
          /* line 183, static/scss/auth/login.scss */
          .main .wrapper form .fields div #lock {
            top: 9px;
            left: 10px;
            transform: scale(0.75); }
          /* line 192, static/scss/auth/login.scss */
          .main .wrapper form .fields div input {
            width: calc(100% - 30px);
            height: 47px;
            margin-bottom: 15px;
            padding: 4.5px 20px 0 50px;
            color: #6e7267;
            border-radius: 50px;
            border: none;
            background: none;
            box-shadow: inset 1px 1px 8px #a0a0a0, inset -1px -1px 8px #ffffff;
            font-size: 18px; }
          /* line 213, static/scss/auth/login.scss */
          .main .wrapper form .fields div input:focus {
            outline: none; }
      /* line 223, static/scss/auth/login.scss */
      .main .wrapper form .error {
        position: absolute;
        top: 195px;
        left: 40px;
        color: red;
        opacity: 0;
        transform: scale(1.2); }
      /* line 237, static/scss/auth/login.scss */
      .main .wrapper form .error.reset {
        top: 60px; }
      /* line 243, static/scss/auth/login.scss */
      .main .wrapper form .unique {
        position: absolute;
        left: 20px;
        top: -21px;
        opacity: 0;
        color: red; }
      /* line 255, static/scss/auth/login.scss */
      .main .wrapper form .e {
        display: block;
        margin: 0 0 10px 20px;
        color: red; }
      /* line 264, static/scss/auth/login.scss */
      .main .wrapper form a {
        position: relative;
        top: 5px;
        left: 10%;
        text-decoration: none;
        color: #1E2330; }
      /* line 275, static/scss/auth/login.scss */
      .main .wrapper form a:hover {
        color: red; }
      /* line 281, static/scss/auth/login.scss */
      .main .wrapper form .btns {
        position: relative;
        top: 40px; }
        /* line 286, static/scss/auth/login.scss */
        .main .wrapper form .btns a {
          left: 0; }
        /* line 292, static/scss/auth/login.scss */
        .main .wrapper form .btns button {
          position: relative;
          left: 5%;
          width: 90%;
          height: 50px;
          padding-top: 4px;
          margin-bottom: 15px;
          background: none;
          box-shadow: 1px 1px 10px #a0a0a0, -1px -1px 10px #ffffff;
          font-size: 18px; }
        /* line 312, static/scss/auth/login.scss */
        .main .wrapper form .btns button.in {
          box-shadow: inset 1px 1px 10px #a0a0a0, inset -1px -1px 10px #ffffff; }

/* line 328, static/scss/auth/login.scss */
.wrapper.register {
  height: 550px; }
  /* line 332, static/scss/auth/login.scss */
  .wrapper.register .btns.register {
    top: 15px; }

/* Gradient */
/* line 343, static/scss/auth/login.scss */
:root {
  --gradient-shadow: linear-gradient(
		45deg,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000
	); }

/* line 359, static/scss/auth/login.scss */
.wrapper:before,
.wrapper:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: var(--gradient-shadow);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
  border-radius: 20px; }

/* line 377, static/scss/auth/login.scss */
.wrapper:after {
  filter: blur(100px); }

@keyframes animate {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 300% 0; }
  100% {
    background-position: 0 0; } }
