$text-color: #1E2330;

body {

    margin: 0;

    overflow-x: hidden;

}

#homeBtn {width: 100px}
#logoutBtn {width: 120px}
#loginBtn {width: 120px}

.top-nav {

    position: relative;
    top: 20px;
    
    width: 100%;
    height: 50px;

    z-index: 10;

    .brand {

        position: relative;
        left: 30px;

        cursor: pointer;

        a {

            text-decoration: none;
            color: $text-color;
            
        }

       
        svg {

            position: relative;
            left: 15px;

            transform: scale(1.8);
            fill: $text-color;

            float: left;

        }

        h1 {

            position: relative;
            left: 40px;

            font-size: 40px;

            
        }


    }

    .btns {

        position: absolute;
        bottom: -3px;
        right: 50px;

        height: 60px;

        display: inline-block;

        .auth-btn.in {

            box-shadow: inset 1px 1px 4px #b9b9b7,
                inset -1px -1px 4px #ffffff;

        }

        div {

            position: relative;

            height: 20px;

            padding: 20px;

            margin-left: 40px;

            border-radius: 50px;

            display: flex;
            align-items: center;

            cursor: pointer;

            box-shadow:  1px 1px 4px #b9b9b7,
                    -1px -1px 4px #ffffff;

            float: left;
            
            svg {

                position: absolute;
                left: 20px;
    
                fill: $text-color;

            }
    
            .home {
    
                transform: scale(1.3);
    
            }
    
            .logout {
    
                margin-top: 3px;
    
                transform: scale(1.2);
    
            }
    
            .login {
    
                transform: scale(1.3);
    
            }
            
    
            span {
    
                position: relative;
                left: 45px;
                top: 3px;
    
                font-size: 20px;
    
            }

        }

        a {

            text-decoration: none;
            color: $text-color;
            cursor: pointer;

        }

    }

}

.main {

    position: relative;
    top: 0;
    left: 0;

    width: 100%;

    /* Need space below this div */

    .sidenav {

        position: fixed;
        top: 160px;
        left: 50px;

        width: calc(30% - 50px);

        float: left;

        a {

            text-decoration: none;
            color: initial;
            width: 450px;

            div {

                width: 450px;
                height: 40px;

                display: flex;
                align-items: center;

                padding: 10px;
                margin-bottom: 20px;

                border-radius: 100px;
                box-shadow:  1px 1px 4px #b9b9b7,
                            -1px -1px 4px #ffffff;

                h1 {

                    font-weight: normal;
                    font-size: 23px;

                    margin-left: 20px;

                }

            }

            div.active {

                box-shadow:  inset 1px 1px 4px #b9b9b7,
                            inset -1px -1px 4px #ffffff;
    
            }

            

        }

    }

    .info {

        position: relative;
        top: 80px;
        right: 30px;

        width: calc(70% - 70px);

        float: right;
        padding: 20px;
        

        border-radius: 20px;

        box-shadow:  1px 1px 4px #b9b9b7,
                            -1px -1px 4px #ffffff;

        ol { 

            counter-reset: item; 

        }

        ol > li{ 

            display: block;

            margin: 15px 0 15px 0;

            font-size: 21px;
            font-weight: bold;
        
        }

        ol > li:before { 

            content: counters(item, ".") ". "; 
            counter-increment: item;
        
        }

        ol > li > ol > li {

            font-size: 16px;
            font-weight: normal;

        }

        ul > li {

            margin: 10px 0 10px 0;

        }

        table {

            td, th {

                border: 1px solid #ddd;
                padding: 8px;

                border-radius: 10px;

            }

            th {

                font-size: 20px;

            }

        }

    }

}