{% load static %}
{% load compress %}

<!DOCTYPE html>

<html lang="ru">

    <head>

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Не помню пароль | Блокнотик</title>

        <meta name="description" content="Забыли пароль? Не проблема! Восстановите его введя свой почтовый адрес.">
        <meta name="keywords" content="блокнотик, блокнот онлайн, онлайн тетрадь, заметки онлайн, блокнот онлайн бесплатно, текстовик, забыл пароль, программа для заметок, совместные заметки, голосовой блокнот онлайн, онлайн блокнот для записей">

        <link rel="icon" type="image/x-icon" href="{% static 'блокнотик.svg' %}">

        {% compress css %}

            <link rel="stylesheet" href="{% static 'scss/auth/login.scss' %}" type="text/x-scss">

        {% endcompress %}

        <script src="{% static 'packages/jquery-3.6.1.min.js' %}"></script>

    </head>

    <body>
        
        <div class="main">

            <div class="wrapper" style='height: 325px;'>

                <div class="brand">
    
                    <div class="wrapper">

                        <svg xmlns="http://www.w3.org/2000/svg" width="19.394" height="28.21" viewBox="0 0 19.394 28.21">
                            <path id="Icon_awesome-lightbulb" data-name="Icon awesome-lightbulb" d="M5.293,25.033a1.764,1.764,0,0,0,.3.975l.942,1.415A1.763,1.763,0,0,0,8,28.21h3.4a1.763,1.763,0,0,0,1.468-.787l.942-1.415a1.762,1.762,0,0,0,.3-.975l0-2.113H5.29l0,2.113ZM0,9.7a9.643,9.643,0,0,0,2.4,6.379,15.834,15.834,0,0,1,2.877,5.039c0,.014.006.043.006.043h8.829c0-.014,0-.028.006-.043a15.834,15.834,0,0,1,2.877-5.039A9.7,9.7,0,1,0,0,9.7ZM9.7,5.289A4.413,4.413,0,0,0,5.289,9.7a.882.882,0,0,1-1.763,0A6.178,6.178,0,0,1,9.7,3.526a.882.882,0,0,1,0,1.763Z" transform="translate(0 0)"/>
                        </svg>

                    </div>
    
                </div>
    
                <h1>Восстановление пароля</h1>

                <form method="POST">

                    {% csrf_token %}
    
                    <div class="fields">
                        
                        <div>

                            <svg id='email' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35" viewBox="0 0 35 35">
                                <defs>
                                  <clipPath id="clip-Пользовательский_размер_1">
                                    <rect width="35" height="35"/>
                                  </clipPath>
                                </defs>
                                <g id="Пользовательский_размер_1" data-name="Пользовательский размер – 1" clip-path="url(#clip-Пользовательский_размер_1)">
                                  <rect width="35" height="35" fill="none"/>
                                  <g id="Icon_feather-mail" data-name="Icon feather-mail" transform="translate(-0.891 0.157)">
                                    <path id="Контур_3" data-name="Контур 3" d="M6.078,6H30.7a3.046,3.046,0,0,1,3.078,2.994V26.958A3.046,3.046,0,0,1,30.7,29.952H6.078A3.046,3.046,0,0,1,3,26.958V8.994A3.046,3.046,0,0,1,6.078,6Z" transform="translate(0)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                    <path id="Контур_4" data-name="Контур 4" d="M33.782,9,18.391,18.973,3,9" transform="translate(0 -0.151)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                  </g>
                                </g>
                            </svg>

                            <svg id="ee" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class=" " role="img" aria-label="Warning Icon "><title>Warning Icon</title><path fill-rule="evenodd" clip-rule="evenodd" d="M8 0.999756C4.13401 0.999756 1 4.13376 1 7.99976C1 11.8657 4.13401 14.9998 8 14.9998C11.866 14.9998 15 11.8657 15 7.99976C15 4.13376 11.866 0.999756 8 0.999756ZM0 7.99976C0 3.58148 3.58172 -0.000244141 8 -0.000244141C12.4183 -0.000244141 16 3.58148 16 7.99976C16 12.418 12.4183 15.9998 8 15.9998C3.58172 15.9998 0 12.418 0 7.99976ZM7.5 8.99951V3.99999H8.5V8.99951H7.5ZM9 11C9 11.5523 8.55228 12 8 12C7.44772 12 7 11.5523 7 11C7 10.4477 7.44772 10 8 10C8.55228 10 9 10.4477 9 11Z" fill="currentColor"></path></svg>

                            <input type="text" name="u" id="e" placeholder="Электронная почта">

                        </div>
    
                    </div>

                    <div class="btns" style='top: 20px;'>

                        <button type="button" id="continue" disabled>Далее</button>

                    </div>
    
                </form>

                <div class="email-sent">

                    <p class="email-sent-note">Мы отправили вам письмо с инструкцией по восстановлению вашего пароля 🙂</p>
    
                </div>
    
            </div>

            

        </div>


    </body>

    <style>

        @font-face {
            font-family: Comfortaa;
            src: url("{% static 'fonts/Comfortaa.ttf' %}");
        }

        body {

            font-family: Comfortaa;

        }

        button {

            font-family: Comfortaa;
            cursor: pointer;
            border: none;
            border-radius: 100px;

        }

        input {

            font-family: Comfortaa;

        }

        .email-sent {

            position: relative;

            top: 50px;

            display: none;
            opacity: 0;

        }

        .email-sent-note {

            padding: 10px;
            font-size: 18px;

        }
        
    </style>

    <!-- Sending a recovery email -->
    <script>

        document.getElementById('e').addEventListener('input', function() {

            $('#e').css('color', '#1E2330');

        });

        $(document).on('keypress', function(e) {

            if (e.which == 13) {

                e.preventDefault();

                if (!$('#continue').prop('disabled')) {

                    $('#continue').click();

                }

            } 

        });

        $('#continue').click(function() {

            $(this).addClass('in');
    
            setTimeout(function() {

                $('#continue').removeClass('in');

            }, 250);

            $('.fields, .btns').animate({

                'opacity': 0,

            }, 500);

            setTimeout(function() {

                $('.fields, .btns').hide();

                $('.email-sent').show()
                $('.email-sent').animate({

                    'opacity': 1,

                }, 500)

            }, 500);  

            email = $('#e').val();

            $.ajax({

                type: 'POST',

                url: "{% url 'user:recover' %}",

                data: {

                    'csrfmiddlewaretoken': "{{ csrf_token }}",

                    'e': email,

                }

            });

        })

    </script>

    <script>

        function delay(callback, ms) {

            var timer = 0;

            return function() {

                var context = this, args = arguments;
                clearTimeout(timer);
                
                timer = setTimeout(function () {

                    callback.apply(context, args);

                }, ms || 0);
            };
        }


        var e, p;

        function validateEmail(e) {

            var re = /\S+@\S+\.\S+/;
            return re.test(e);

        }

        document.getElementById('e').addEventListener('input', function() {

            $('#ee').css('opacity', 0);

            $('#continue').prop('disabled', true);

        });

        document.getElementById('e').addEventListener('input', delay(function() {

            if (validateEmail($('#e').val())) {

                $('#continue').prop('disabled', false);

            } else {

                $('#continue').prop('disabled', true);

            }

        }, 500));

    </script>

</html>